body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
    background-image: url('/8-jan-24-DefitSaputra/assets/backgroundMath.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}    

body::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

header {
    text-align: center;
}

header h1 {
    color: white;
    background-color: #336699;
    padding: 20px;
    margin: 0;
}

.form1 {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}

header h2 {
    margin-top: 20px;
    color: #176B87;
}

header p {
    margin-top: -10px;
    font-size: smaller;
    color: #176B87;
    margin-bottom: 20px;
}

.selectButton {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#PersegiButton {
    width: 100%;
}

#PersegiPanjangButton {
    width: 100%;
}

.form2 {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}

.form2 img {
    max-width: 40%; 
    height: auto;
}


#luasPersegi {
    color: white;
    background-color: #336699;
    padding: 20px;
    margin: 0;
}

#luasPersegi1 {
    text-align: left;
    font-weight: bold;
}

#dimana1 {
    text-align: left;
    font-weight: bold;
}

#luas1 {
    text-align: left;
    font-weight: bold;
}

#sisi1 {
    text-align: left;
    font-weight: bold;
}

hr {
    border: none;
    height: 1px;
    background-color: black;
    margin: 20px 0;
}

#resetButtonLuas {
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}

#resetButtonLuas:hover {
    background-color: darkorange;
}

#resetButtonLuas:active {
    background-color: gold;
    transform: translateY(2px);
}

#hasilLuasPersegi {
    text-align: left;
    color: black;
    font-weight: bold;
    font-size: medium;
}

button {
    background-color: #336699;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}

#hitungLuas {
    color: black;
    background-color: white;
}

button:hover {
    background-color: blue;
}

button:active {
    background-color: darkcyan;
    transform: translateY(2px);
}

.inputSectionLuas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#squareSideLuas {
    outline: none;
    border-radius: 8px;
    border: 1px solid #176B87;
    padding: 10px;
    width: 100%;
}

#squareSideLuas:focus {
    border: 1px solid #336699;
}

.form3 {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}

.form3 img {
    max-width: 40%; 
    height: auto;
}


#kelilingPersegi {
    color: white;
    background-color: #336699;
    padding: 20px;
    margin: 0;
}

#kelilingPersegi2 {
    text-align: left;
    font-weight: bold;
}

#dimana2 {
    text-align: left;
    font-weight: bold;
}

#keliling2 {
    text-align: left;
    font-weight: bold;
}

#sisi2 {
    text-align: left;
    font-weight: bold;
}

#hitungKeliling {
    color: black;
    background-color: white;
}

#squareSideKeliling {
    outline: none;
    border-radius: 8px;
    border: 1px solid #176B87;
    padding: 10px;
    width: 100%;
}

#squareSideKeliling:focus {
    border: 1px solid #336699;
}

.inputSectionKeliling {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#resetButtonKeliling {
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}

#resetButtonKeliling:hover {
    background-color: darkorange;
}

#resetButtonKeliling:active {
    background-color: gold;
    transform: translateY(2px);
}

#hasilKelilingPersegi {
    text-align: left;
    color: black;
    font-weight: bold;
    font-size: medium;
}

footer {
    background-color: #336699;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.copyright {
    margin: 0;
    font-size: medium;
}

.created {
    margin: 0;
    font-size: medium;
}

#namasaya {
    color: aqua;
}